# OS files

.DS_Store

# IDE

/.idea
/.vscode

# Cache

/.cache
/.eslintcache
/.stylelintcache

# Node specific

*/**/node_modules

# Ignore package-lock file at root level

package-lock.json

**/config.ts

e2e_tmp
