# OS files

.DS_Store

# IDE

/.idea
/.vscode

# Cache

/.cache
/.eslintcache
/.stylelintcache

# Node specific

*/**/node_modules

# Ignore package-lock file at root level

package-lock.json

**/config.ts

e2e_tmp

# Ignore specific docker-compose files
docker-compose.*.yaml

# Ignore Helm value files
values-*.yaml
