<li class='relative px-6 py-3'>
    <a class='inline-flex items-center w-full text-gray-800 font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-400 dark:text-gray-100' href="{{ link }}">
        {% block logo %}{% endblock %}
        <span class='ml-4'>{{ title }}</span>
    </a>
</li>
