{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="container grid px-6 mx-auto">
        <h1 class="title">{{ 'admin.dashboard.title'|trans }}</h1>

        <ul class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
            {% embed 'admin/common/cards/card.html.twig' with {title: 'admin.nomenclature.title'|trans, link: path('admin_nomenclature_list'), colorList: 'text-orange-500 bg-orange-100 dark:text-orange-100 dark:bg-orange-500'} %}
                {% block logo %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                    </svg>
                {% endblock %}
            {% endembed %}

            {% embed 'admin/common/cards/card.html.twig' with {title: 'admin.community.title'|trans, link: path('admin_community_list'), colorList: 'text-green-500 bg-green-100 dark:text-green-100 dark:bg-green-500'} %}
                {% block logo %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
                    </svg>
                {% endblock  %}
            {% endembed %}
        </ul>
    </div>
{% endblock %}
