{
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "singleQuote": false,
                "tabWidth": 4,
                "useTabs": false
            }
        }
    ]
}
