default:
    suites:
        default:
            contexts:
                - Proximum\Vimeet365\Tests\Behat\FeatureContext
                - Proximum\Vimeet365\Tests\Behat\DataBaseContext
                - Proximum\Vimeet365\Tests\Behat\AccountContext
                - Proximum\Vimeet365\Tests\Behat\CommunityContext
                - Proximum\Vimeet365\Tests\Behat\NomenclatureContext
                - Proximum\Vimeet365\Tests\Behat\CompanyContext
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: "tests/bootstrap.php"
            kernel:
                class: 'Proximum\Vimeet365\Kernel'
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            base_url: "http://172.17.0.1:3000"
            browser_name: "chrome"
            sessions:
                javascripts:
                    selenium2:
                        wd_host: "http://localhost:4444/wd/hub"
ci:
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: "tests/bootstrap.php"
            kernel:
                class: 'Proximum\Vimeet365\Kernel'
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            base_url: "http://localhost:3000"
            browser_name: "chrome"
            sessions:
                javascripts:
                    selenium2: ~
