{% set classes = {
    error: 'text-red-700 bg-red-100 dark:text-red-100 dark:bg-red-700',
    success: 'text-green-700 bg-green-100 dark:bg-green-700 dark:text-green-100',
    default: 'text-gray-700 bg-gray-100 dark:text-gray-100 dark:bg-gray-700'
} %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% set class = classes[label]|default(classes['default']) %}
        <div class="container p-6 mx-auto my-8 text-sm font-semibold rounded-lg shadow-md {{ class }}">
            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}
