@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/poppins-regular.woff) format('woff');
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/poppins-600.woff) format('woff');
}

@font-face {
  font-family: Poppins;
  font-weight: 800;
  font-style: normal;
  src: url(./fonts/poppins-800.woff) format('woff');
}

.outlined:focus {
  @apply outline-none ring-1 ring-community-300;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
