default:
    suites:
        default:
            contexts:
                - Proximum\Vimeet365\Tests\Behat\FeatureContext
                - Proximum\Vimeet365\Tests\Behat\DataBaseContext
                - Proximum\Vimeet365\Tests\Behat\AccountContext
                - Proximum\Vimeet365\Tests\Behat\CommunityContext
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'tests/bootstrap.php'
            kernel:
                class: 'Proximum\Vimeet365\Kernel'
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            base_url:  'http://localhost:3000'
            browser_name: 'chrome'
            sessions:
                javascripts:
                    selenium2: ~
